<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "fields" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, class: "w-full p-3 border-solid border-black" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "w-full" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full" %>
  </div>
  <br />
  
  <div class="actions login">
    <%= f.submit "Sign up", class: "bg-blue-500 text-white p-4 rounded text-center m-4 hover:bg-blue-700 w-full" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
