<div class="main-container">
  <div class="users-wrapper flex">
    <div class="img-cont">
      <%= image_tag (@user.photo.nil? ? "user.png" : @user.photo), :size => "90x90", alt: "user photo" %>
    </div>
    <div class="user-details">
      <h2><%= @user.name %></h2>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

  <% @posts.each do |post| %>
    <div class="posts-enclosure">
      <div class="users-post">
        <h2><%= link_to post.title, user_post_path(@user.id, post.id), class: "link-button" %></h2>
        <p><%= post.text %></p>
        <h4>Comments: <%=post.comments_counter %>, Likes: <%= post.likes_counter %></h4>
        <%= form_with url: "/users/#{@user.id}/posts/#{post.id}/likes", model: Like do |form| %>
          <%= form.submit "Like Post", class: "btn btn-primary bg-blue-500 text-white p-2 rounded text-center" %>
        <% end %>
      </div>
      <div class="comments-cont">
        <% if post.recent_comment_counter.count.zero? %>
          <p>No comments on this post yet</p>
        <% else %>
        <% post.recent_comment_counter.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <br />
  <button class="w-100"> 
    <%= link_to 'Add new Post', user_posts_path(@user) + '/new', class: "btn btn-primary bg-blue-500 text-white p-2 rounded text-center w-100" %>
  </button>
</div>
 