<div class="main-container">
  <div class="post-container">
    <h2><%= @post.title %> by <%= @post.author.name %></h2>
    <h6>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></h6>
    <p class="post-text"><%= @post.text %></p>
  </div>

  <div class="comments-cont">
    <% if @post.all_comments.count.zero? %>
    <p>Post has no comments yet</p>
    <%else%>
    <% @post.all_comments.each do |comment| %>
      <p><%= comment.author.name %>: <%= comment.text %></p>
      <% if can? :destroy, comment %>
        <%= button_to 'Delete Comment', user_post_comment_path(@user, @post, comment.id), class: "btn btn-primary bg-blue-500 text-white p-2 rounded text-center", method: :delete %>
      <% end %> 
    <% end %>
    <% end %>
  </div>
  <br />
  <button class="w-100"> 
    <%= link_to 'Add new Comment', user_post_path(@user, @post.id) + '/comments/new', class: "btn btn-primary bg-blue-500 text-white p-2 rounded text-center w-100" %>
  </button>
</div>
