<!DOCTYPE html>
<html>
  <head>
    <title>Blog app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-amber-100">
          <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <br />
     <div class="flex gap-16 w-full justify-end mr-10 login">
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "link-button reload" %>
      </div>
    <%= yield %>
  </body>
</html>
